<main id="converter">
	
	<% if @errors.empty? %>
	
	<h1>For <span><%= @result['previousAmount'] %> <%= @result['currencyFrom'] %></span>,<br>you can get <span><%= @result['newAmount'] %> <%= @result['currencyTo'] %></span></h1>
	
	<% else %>
	
	<h1><span>Sorry!</span> There were some issues trying to perform conversion.</h1>
	
	<ol>
    	<% for error in @errors %>
            <li><%= error.to_s %></li>
	    <% end %>
	</ol>
	
	<% end %>
	
	<a class="button" href="/">&larr; Go back</a>

</main>