<main id="converter">
	
	<% if @errors.present? %>
	
	<h1>For <span><%= @result['previousAmount'] %> <%= @result['currencyFrom'] %></span>,<br>you can get <span><%= @result['newAmount'] %> <%= @result['currencyTo'] %></span></h1>
	
	<% else %>
	
	<h1><span>Sorry!</span> There were some issues trying to perform conversion.</h1>
	
	<ol>
	<%= @errors.each { |x| puts "<li>" + x + "</li>" } %>
	</ol>
	
	<% end %>
	
	<a class="button" href="/">&larr; Go back</a>

</main>